<div class="container-fluid">
  <div class="row-fluid pt-2">

<script>
$(function () {
  $('[data-toggle="popover"]').popover()
})
</script>

<style>


#CollectionTable tr {
  background-color: #ffff;
}

#CollectionTable th{
  background-color: #f1f1f1;
}

#CollectionTable tr:hover {
  background-color: #f1f1f1;
}

#WishlistTable tr {
  background-color: #ffff;
}

#WishlistTable th{
  background-color: #f1f1f1;
}

#WishlistTable tr:hover {
  background-color: #f1f1f1;
}


</style>


<% if !@collection_error %>
  <% if @is_self %>
  <%= link_to "Add card to collection", new_card_path %>
  <% else %>
    <p>User: <%= @target_user.email %></p>
    <%= link_to "trade with #{@target_user.email}", new_trade_path(id: @target_user.id)  %>
    </br>
    <%= link_to "message with #{@target_user.email}", conversations_path %>
  <% end %>
  <p>
  <h3> <%=fa_icon "clone"%> Collection</h3>
  <table class=" table table-striped" id="CollectionTable"data-sort-name="name" data-sort-order="desc">
    <thead>
      <tr>
        <th data-field="name" data-sortable="true">Card Name</th>
        <th data-field="set" data-sortable="true">Set Name</th>
        <th data-field="value" data-sortable="true">Card Value</th>
        <th data-field="quality" data-sortable="true">Card Quality</th>
        <th data-field="foil" data-sortable="true">Foil</th>
        <% if @is_self %>
        <th data-field="operation" data-sortable="true">operation</th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% @collection_card_owned.each do |card| %>
        <tr>
          <td>
          <a href = "" data-toggle="popover" data-placement="right" data-html = "true" data-trigger = "hover" data-content = "<img src = <%= card.card.image_url %>>"><%= card.card.name %></a>
          <!--
          <div class = 'col_card_name' id = <%= card.id %>><%= card.card.name %>  </div>
          <div class = 'col_popup' id = <%= card.id %>> <%= image_tag card.card.image_url %> </div>
          -->
          </td>

          <td><%= card.card.card_set.name %></td>
          <td><%= card.value %></td>
          <td><%= card.quality %></td>
          <td><%= card.foil %></td>
          <% if @is_self %>
          <td>
          <%= link_to "edit", edit_collection_path(card_id: card.id, edit_type: "collection") %>
             /   
          <%= link_to 'delete', collection_path(card_id: card.id, edit_type: "collection"), :method => :delete %>
          </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
  </p>
  <p>
  <h3> <%=fa_icon "clone"%> Wishlist</h3>
  <table class=" table table-striped" id="WishlistTable" data-sort-name="name" data-sort-order="desc">
    <thead>
      <tr>
        <th data-field="name" data-sortable="true">Card Name</th>
        <th data-field="set" data-sortable="true">Set Name</th>
        <th data-field="value" data-sortable="true">Card Value</th>
        <th data-field="quality" data-sortable="true">Card Quality</th>
        <th data-field="foil" data-sortable="true">Foil</th>
        <% if @is_self %>
        <th data-field="operation" data-sortable="true">operation</th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% @collection_card_needed.each do |card| %>
        <tr>
          <td>
            <a href = "" data-toggle="popover" data-html = "true" data-trigger = "hover" data-content = "<img src = <%= card.card.image_url %>>"><%= card.card.name %></a>
            <!--
            <div class = 'col_card_name' id = <%= card.id %>><%= card.card.name %>  </div>
            <div class = 'col_popup' id = <%= card.id %>> <%= image_tag card.card.image_url %> </div>
            -->
          </td>
          <td><%= card.card.card_set.name %></td>
          <td><%= card.value %></td>
          <td><%= card.quality %></td>
          <td><%= card.foil %></td>
          <% if @is_self %>
          <td>
          <%= link_to "edit", edit_collection_path(card_id: card.id, edit_type: "wishlist") %>
             /   
          <%= link_to 'delete', collection_path(card_id: card.id, edit_type: "wishlist"), :method => :delete %>
          </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
  </p>
<% end %>


</div>
</div>
