<script>
$(function () {
  $('[data-toggle="popover"]').popover();
  $('[data-toggle="tooltip"]').tooltip();


$('[data-toggle="popover"]').click(function () {
          $('[data-toggle="popover"]').popover("hide");

       });

$('[data-toggle="tooltip"]').click(function () {
          $('[data-toggle="tooltip"]').tooltip("hide");

       });

});
</script>


<style>

#collectionTable th{
  background-color: #f1f1f1;
}

#wishlistTable th{
  background-color: #f1f1f1;
}

.nav-tabs {

background: #1E88E5;

}

.nav-tabs .nav-link{

text-decoration: none;
line-height: 20px;
color: white;
font-size:150%;

}

</style>




<div class="container-fluid">
  <div class="row-fluid pt-2">

<h3><%=fa_icon "search"%> Search Results - <span class="text-muted">"<%if (@search_term =='')%>
  <%='All'%>
  <%else%>
  <%=@search_term%>
<%end%>"</span></h3>  



<div class="container-fluid">


<h4><%=fa_icon "filter"%><span class="text-muted"> Advanced Search</span></h4> 
<%if(@name != "")%>
  <span class="text-muted"><%='Card Name:'%></span>
  <span class="text-muted">"<%=@name%>"</span> 
<%end%>

<%if(@condition != "")%>
  <span class="text-muted"><%='Condition:'%></span>
  <span class="text-muted">"<%=@condition%>"</span> 
<%end%>

<%if(@set != "")%>
  <span class="text-muted"><%='Set:'%></span>
  <span class="text-muted">"<%=@set%>"</span> 
<%end%>

<%if(@foil != "")%>
  <span class="text-muted"><%='Foil:'%></span>
  <span class="text-muted">"<%=@foil%>"</span> 
<%end%>

<%if(@minprice != "0")%>
  <span class="text-muted"><%='Min Price:'%></span>
  <span class="text-muted">"<%=@minprice%>"</span> 
<%end%>

<%if(@maxprice != "999999999999")%>
  <span class="text-muted"><%='Max Price:'%></span>
  <span class="text-muted">"<%=@maxprice%>"</span> 
<%end%>

<%if(@country != "")%>
  <span class="text-muted"><%='Country:'%></span>
  <span class="text-muted">"<%=@country%>"</span> 
<%end%>

<%if(@state != "")%>
  <span class="text-muted"><%='State:'%></span>
  <span class="text-muted">"<%=@state%>"</span> 
<%end%>

<%if(@city != "")%>
  <span class="text-muted"><%='City:'%></span>
  <span class="text-muted">"<%=@city%>"</span> 
<%end%>



	<div class="row">

  <div class="col">
			<div class="form-group pt-1">
				<input type="text" id ="nameparam" class="form-control" placeholder= "Card Name"></input>
			</div>
  </div>
		
    <div class="col">
			<div class="form-group pt-1">
				<select class="filter form-control" id="quality">
					<option value="">Select Condition</option>
					<option value="">Mint</option>
          <option value="">Near-Mint</option>
          <option value="">Light-Play</option>
          <option value="">Heavy-Play</option>
				</select>
			</div>
    </div>

      <div class="col">
			<div class="form-group pt-1">
				<select class="filter form-control" id="set">
					<option value="">Select Set</option>
					<%=@sets.each do |set| %>
            <option value=""> <%=set.name%></option>
          <%end%>
				</select>
			</div>
      </div>

    

      <div class="col">
			<div class="form-group pt-1">
				<input type="number" id ="minprice" class="form-control" placeholder= "Minimum Price" min="0" max="1000000000000000000000" step="1" id="input-number"></input>
			</div>
      </div>

      <div class="col">
			<div class="form-group pt-1">
				<input type="number" id="maxprice" class="form-control" placeholder= "Maximum Price" min="0" max="1000000000000000000000" step="1" id="input-number"></input>
			</div>
      </div>

		
	</div>


<div class="row">

      <div class="col">
			<div class="form-group pt-1">
				<select class="filter form-control" id="foil">
					<option value="">Select Foil</option>
					<option value="">true</option>
          <option value="">false</option>
				</select>
			</div>
      </div>


      <div class="col">
      <div class="form-group pt-1">

      
      
      <select class="filter form-control" id="country">
        <option value="">Select Country</option>
        <% CS.countries.each do |key, value| %>
        <option value="<%= key %>"><%= value %></option>
        <% end %>
      </select>

			</div>
      </div>

      <div class="col">
      <div class="form-group pt-1">
      
      <select class="filter form-control" id="state">
        <option value="">Select State</option>
       
      </select>

			</div>
      </div>

      <div class="col">
      <div class="form-group pt-1">
      
      <select class="filter form-control" id="city">
        <option value="">Select City</option>
        
      </select>

			</div>
      </div>

      


<div class="col">

  
  <%= link_to "Reset", 
      {:controller => :searchpage, :action => :search, 
      :search => @search_term
      },
      :class => "btn btn-danger align-center" %>

      <%= link_to "Advanced Search", {:controller => :searchpage, :action => :search, 
      :search => @search_term
      },
      :class => "btn btn-primary align-center", :id=> "advancedsearchid" %>


          
  </div>

</div>

</div>

</div>



<!-- Nav tabs -->
	<ul class="nav nav-tabs nav-justified my-2" role="tablist">
	<li class="nav-item">
		<a class="nav-link active" data-toggle="tab" href="#collectionPanel" role="tab">
		<%=fa_icon "clone"%> User Collections</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" data-toggle="tab" href="#wishlistPanel" role="tab">
		<%=fa_icon "clone"%> User Wishlist</a>
	</li>

	</ul>
	<!-- Nav tabs -->

  <!-- Tab panels -->
<div class="tab-content">

  

  <!-- COLLECTIONS PANEL -->
  <div class="tab-pane fade in show active" id="collectionPanel" role="tabpanel">

        <table class=" table table-hover pt-2" id="collectionTable" data-sort-name="name" data-sort-order="desc">
          <thead id="tableHead">
            <tr>
              <th data-field="user" data-sortable="true">User</th>
              <th data-field="location" data-sortable="true">Location</th>
              <th data-field="name" data-sortable="true">Card Name</th>
              <th data-field="set" data-sortable="true">Set Name</th>
              <th data-field="value" data-sortable="true">Card Value</th>
              <th data-field="quality" data-sortable="true">Card Quality</th>
              <th data-field="foil" data-sortable="true">Foil</th>
            </tr>
          </thead>

          <tbody>
            <% @results.each do |card| %>
              <tr>
              <td>
                
            <%= link_to collection_path(card.user.id), :class => "btn btn-primary", title: 'View Collections of user', 'data-toggle' => 'tooltip', 'data-placement' => 'right' do %>
              <i class="fa fa-user"></i> <%=card.user.email %>
            <% end %>

              </td>

              <td>

              <%=card.user.country + ", " + card.user.province + ", " + card.user.city%>

              </td>

                <td>
                <a href = "" data-toggle="popover" data-placement="right" data-html = "true" data-trigger = "hover" data-content = "<img src = <%= card.card.image_url %>>"><%= card.card.name %></a>
              
                </td>

                <td><%= card.card.card_set.name %></td>
                <td><%= card.value %></td>
                <td><%= card.quality %></td>
                <td>
                <% if card.foil == true %>
                    <%=fa_icon "check" %>
                <% else %>
                    <%=fa_icon "times" %>  
                <% end %> </td>
              </tr>
            <% end %>
          </tbody>
        </table>

  </div>
  <!-- END OF COLLECTIONS PANEL -->





  <!-- WISHLIST PANEL -->
  <div class="tab-pane fade" id="wishlistPanel" role="tabpanel">

        <table class=" table table-hover pt-2" id="wishlistTable" data-sort-name="name" data-sort-order="desc">
          <thead id="tableHead">
            <tr>
              <th data-field="user" data-sortable="true">User</th>
              <th data-field="location" data-sortable="true">Location</th>
              <th data-field="name" data-sortable="true">Card Name</th>
              <th data-field="set" data-sortable="true">Set Name</th>
              <th data-field="value" data-sortable="true">Card Value</th>
              <th data-field="quality" data-sortable="true">Card Quality</th>
              <th data-field="foil" data-sortable="true">Foil</th>
            </tr>
          </thead>

          <tbody>
            <% @results_wishlist.each do |card| %>
              <tr>
              <td>
                
            <%= link_to collection_path(card.user.id), :class => "btn btn-primary", title: 'View Collections of user', 'data-toggle' => 'tooltip', 'data-placement' => 'right' do %>
              <i class="fa fa-user"></i> <%=card.user.email %>
            <% end %>

              </td>

              <td>

              <%=card.user.country + ", " + card.user.province + ", " + card.user.city%>

              </td>

                <td>
                <a href = "" data-toggle="popover" data-placement="right" data-html = "true" data-trigger = "hover" data-content = "<img src = <%= card.card.image_url %>>"><%= card.card.name %></a>
              
                </td>

                <td><%= card.card.card_set.name %></td>
                <td><%= card.value %></td>
                <td><%= card.quality %></td>
                <td>
                <% if card.foil == true %>
                    <%=fa_icon "check" %>
                <% else %>
                    <%=fa_icon "times" %>  
                <% end %> </td>
              </tr>
            <% end %>
          </tbody>
        </table>




	</div>
  <!-- END OF WISHLIST PANEL -->





</div>
<!-- end of Tab panels -->

  

</div>
</div>


<script>
var advancedSearchField = document.getElementById("advancedsearchid");

advancedSearchField.addEventListener("click", function(data){

  //grabbing all the parameters for the query
  var name = document.getElementById("nameparam");
  var quality = document.getElementById("quality");
  var set = document.getElementById("set");
  var foil = document.getElementById("foil");
  var minprice = document.getElementById("minprice");
  var maxprice = document.getElementById("maxprice");
  var country = document.getElementById("country");
  var state = document.getElementById("state");
  var city = document.getElementById("city");

  var search = <%=@search_term.to_json.html_safe %>

  var nameValue = name.value;;

  var conditionValue = quality.options[quality.selectedIndex].text;

  if(conditionValue === "Select Condition"){
      conditionValue="";
  }

  var foilValue = foil.options[foil.selectedIndex].text;
  
  if(foilValue === "Select Foil"){
      foilValue="";
  }

  var setValue = set.options[set.selectedIndex].text;
  
  if(setValue === "Select Set"){
      setValue="";
  }

  var countryValue = country.options[country.selectedIndex].text;
  
  if(countryValue === "Select Country"){
      countryValue="";
  }

  var stateValue = state.options[state.selectedIndex].text;
  
  if(stateValue === "Select State"){
      stateValue="";
  }

  var cityValue = city.options[city.selectedIndex].text;
  
  if(cityValue === "Select City"){
      cityValue="";
  }


  var minpriceValue = minprice.value;
  
  if(minpriceValue === ""){
      minpriceValue="0";
  }

  var maxpriceValue = maxprice.value;
  
  if(maxpriceValue === ""){
      maxpriceValue="999999999999";
  }

//setting up the parameters for the search url
  advancedSearchField.href = advancedSearchField.href 
  + "?&condition="+conditionValue 
  + "&foil="+foilValue
  +"&mode=Advanced"
  +"&search="+search
  +"&set="+setValue
  +"&country="+countryValue
  +"&state="+stateValue
  +"&city="+cityValue
  +"&minprice="+minpriceValue
  +"&maxprice="+maxpriceValue
  +"&name="+nameValue;

});



</script>

 <!-- load states and cities based on the selected information -->
  <script>
  var country = document.getElementById("country");
  var state = document.getElementById("state");


  country.addEventListener("change", function(){
        
        var state = document.getElementById("state");

        //loop through all returned cities for state
        $.getJSON('/states/' + $(this).val(), function (data) {
          
          //clears any options in dropdown
          while (state.firstChild) state.removeChild(state.firstChild);

          //default value
          state.options[0] = new Option("Select State");

          //loop and add optoons
          Object.keys(data).forEach(key=>{
            state.options[state.options.length] = new Option(data[key], key);
          });
          
        
        });
      });

      state.addEventListener("change", function(){
        
        var city = document.getElementById("city");
        var country = document.getElementById("country");

        //loop through all returned cities for state
        $.getJSON('/cities/' + $(this).val()+'/'+ country.options[country.options.selectedIndex].value, function (data) {
          
          //clears any options in dropdown
          while (city.firstChild) city.removeChild(city.firstChild);

          //default value
          city.options[0] = new Option("Select City");

          //loop and add optoons
          for(var i = 0; i < data.length; i++)
          {
            
            city.options[city.options.length] = new Option(data[i]);
          }
          
        
        });
      });
  </script>      