<!-- TODO add autocomplete on card field, dropdown for set based on card selected -->





<div class="container-fluid">
  <div class="row justify-content-center align-items-center pt-4">
    <div class="col-sm-6 col-sm-offset-3">
      <h1> Add a card to your collection or wishlist</h1>
      <%= form_with scope: :card, url: cards_path, local: true do |form| %>  
          <%= form.hidden_field :user, value: current_user.email %>
          <p>
            <%= form.label :set, "Set" %><br>
            <%= form.select(:set, @sets.collect { |set| [set.code] },  :class=>"js-searchable") %>
          </p>
          <p>
            <%= form.label :card_name %><br>
            <%= form.text_area :card_name %>
            <!--
            <% @sets.each do |s| %>
              <div class = "set_dropdown" id = <%= s %>>
              <%= form.select(:card_name, @cards.where(set: s.code).collect { |card| [card.name] }, :class=>"js-searchable") %>
              </div>  
            <%end%>
            -->
          </p>

          <p>
          <%= form.check_box(:foil) %>
          <%= form.label(:foil, "Foil") %>
          </p>
          <p>
          <%= form.radio_button(:quality, "M") %>
          <%= form.label(:quality, "Mint") %>
          <%= form.radio_button(:quality, "NM") %>
          <%= form.label(:quality, "Near-Mint") %>
          <%= form.radio_button(:quality, "LP") %>
          <%= form.label(:quality, "Light-Play") %>
          <%= form.radio_button(:quality, "HP") %>
          <%= form.label(:quality, "Heavy-Play") %>
          </p>
          
          <p>
          <%= form.label :value %><br>
          <%= form.text_area :value %>
          </p>
          <p>
            <%= form.submit 'Add to Collection' %>
            <%= form.submit 'Add to Wishlist'%>
          </p>
        
        <% end %>

      <!--
      <% @sets.each do |set| %>
          <p>
          <%= set.name %><%=set.code%> <%=set.release_date%>
          <p>
      <% end %>
      -->
    </div>
  </div>
</div>