<style>
  .icon-flipped {
  transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  }
  .glyphicon.glyphicon-log-out {
    font-size: 20px;
}

#panelHead {
  background-color: #1E88E5
}
</style>



<div class="container-fluid">
<div class="container-fluid">
  <div class="row-fluid pt-2 pl-2">

    <h1><%=fa_icon "envelope-open"%> My Inbox</h1>

    <div class="row">
    <div class="card col-sm-4" style="overflow:scroll;">

    <div class="row dflex justify-content-between py-2">
    <h4 class="mb-1 pl-3"><%=fa_icon "comments"%> Conversations</h4>

    <button type="button" class="btn btn-outline-primary mx-3"
        data-toggle="collapse" data-target="#new">
      New Message    
    </button>

  </div>

      <ul class="list-group list-group-flush">

         <% @conversations.each do |conversation| %>
            <% if conversation.sender_id == current_user.id || conversation.recipient_id == current_user.id %>
            <% if conversation.sender_id == current_user.id %>
              <% recipient = User.find(conversation.recipient_id) %>
            <% else %>
              <% recipient = User.find(conversation.sender_id) %>
            <% end %>
            

          <li class="list-group-item user-select bg-light" id="15" name='user-select'>
            <div class="d-flex">
              <h5><%= link_to recipient.email, {:controller => :conversations, :action => :show, 
             :id => conversation
              }%></h5>
            </div>
          </li>


            <% end %>
          <% end %>


      </ul>
    </div>


<div class="col-sm-8">
  <div class="chatbody">

   <div class="row">
		  <div class = "col d-flex justify-content-center">
			<h3><%=fa_icon "comments"%> Messages</h3>
		  </div>
		</div>


<div class="container-fluid">
  <div class="row-fluid pt-2">

    <div class="panel panel-default">
    
    <%if @messages %>
      <% @messages.each do |message| %>
        <% if message.body %>
        <% user = User.find(message.user_id) %>
        <div class="item" id=<%=message.id%>>
          <div class="panel-heading my-3" id="panelHead">
            <div class="header"><strong><%= user.email %> </strong><%= message.message_time %></div>
            <div class="list">
            <div class="item">
              <i class="right triangle icon"></i>
              <%= message.body %>
            </div>
          </div>
        </div>
      </div>
      <% end %>
      <% end %>

       <div class="col-md-10 col-md-offset-1">
      <%= form_for conversations_path do |f| %>
      <div class="form-group">
        <%= f.text_area :body, class: "form-control" %>
      </div>
        <%= f.text_field :user_id, value: current_user.id, type: "hidden" %>
      <div class="form-group">
        <%= f.submit "Send Reply", class: "form-control btn btn-primary" %>
      </div>
      <% end %>
      
      </div>








    <%else%>
      <div class = "col d-flex justify-content-center align-items-center my-5">
					<h4><span class="text-muted"> Please select a conversation</span></h4>
				</div>
    <%end%>
    </div>
    </div>
   

</div>
</div>




          <%# <table class="table">
            <tr>
              <td>
              
              
              
              </td>
            </tr>
          </table> %>
          
          <%# <div id="messages" class="messages">
            No Messages 
          </div>
        </div>
        

            <div class="row col-sm-8">
              <form action="/users/21" accept-charset="UTF-8" data-remote="true" method="post"><input name="utf8" type="hidden" value="&#x2713;" />
                <div class="col-xs-12">
                  <textarea class="form-control" name="message[text]" id="message_text">
                </textarea><br/>
                </div>

                <div class="col-xs-3 capitalize">
                  <button name="button" type="button" onclick="javascript:sendMessage()" class="btn btn-info btn-block">Send Message</button>
                </div>
              </form>      
            </div> %>
            </div>

</div>
   










<div class="panel panel-default">
<div class="col-lg-6">


  <div id="new" class="collapse">
    <div class="panel-body">
     <h1 class="panel-heading">All Users can chat with:</h1>
       <% @users.each do |user| %>
        <% if user.id != current_user.id %>
         <div class="item"><h3>
      <%= link_to user.email,
       conversations_path(sender_id: current_user.id, recipient_id: user.id), method: "post"%>
     </h3></div>
      <% end %>
     <% end %>
    </div>
  </div>

</div>
</div>



</div>
</div>
</div>