<h1>Welcome To CardMaestro</h1>

<%= form_with scope: :Welcome, local: true do |form| %>
    <p>
      <%= form.label :user %><br>
      <%= form.text_field :user %>
    </p>
   
    <p>
      <%= form.label :password %><br>
      <%= form.text_field :password %>
    </p>
   
    <p>
      <%= form.submit %>
    </p>
  <% end %>

