 <div class="navbar-header">
      
      <form class="form-inline">

      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'Card Maestro', root_path, class: 'navbar-brand' %>



    <ul class="nav navbar-nav ">
        <% if user_signed_in? %>
        

        <li class="mobile-menu">
            <%= link_to 'Cards Owned',  root_path%>
        </li>
        <li class="mobile-menu">
            <%= link_to 'Cards Needed', root_path %>
        </li>

         <li class="mobile-menu">
            <%= link_to 'Trade Cards', root_path %>
        </li>

        <% else # user not signed it %>
        <li ><%= link_to 'Login', login_path %></li>
        <li ><%= link_to 'Signup', signup_path %></li>
        <% end # if user is signed it %>
    </ul>


    
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>

</form>


 </div>