
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  
<% if user_signed_in? %>
<% homepage_path = home_path%>
<%else%>
<%homepage_path = root_path%>
<%end%>

   
   <a class="navbar-left pt-0.5 pl-1.5" href=<%= homepage_path%>>
   <%= image_tag("CardMaestroLogo1.png")  %>
  </a>
  

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
  <% if user_signed_in? %>
    <ul class="navbar-nav mr-auto">
      
      <li class="nav-item pl-3">
        <a class="nav-link" href=<%=new_card_path%>>Add Cards</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href=<%=collection_path(current_user.id)%>>View Collection</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href=<%=conversations_path%>>Send Message</a>
      </li>

    

    </ul>


    <%= form_tag(searchpage_search_path, :method => "get",   
            class: 'navbar-form navbar-left') do %>  
        <div class="input-group">  
            <%= search_field_tag :search, params[:search], placeholder: "Search Cards", class: "form-control" %>  
            <div class="input-group-btn">  
            <%= button_tag "Search", :class => 'btn btn-info glyphicon glyphicon-search',:name => nil%>  
            </div>  
        </div>  
        <% end %>


  <ul class="navbar-nav mr-0">
  
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#"role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= current_user.email %>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href=<%=edit_user_registration_path%>>Edit Profile</a>
          <a class="dropdown-item" href=<%=destroy_user_session_path%> data-method="delete" rel="nofollow">Logout</a>
        </div>
      </li>

    </ul>

 

<% else # user not signed it %>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
          <a class="nav-link" href=<%=login_path%>>Login</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href=<%=signup_path%>>Signup</a>
        </li>

    </ul>
<% end # if user is signed it %>


</nav>

<!--This script highlights the current active page in the navigation bar that user navigated to  !-->
<script>
    $(function(){
        $('a').each(function(){
            if ($(this).prop('href') == window.location.href) {
                $(this).addClass('active'); 
                $(this).parents('li').addClass('active');
            }
        });
    });
</script>