<!-- TODO add autocomplete on card field, dropdown for set based on card selected -->





<div class="container-fluid">
  <div class="row justify-content-center align-items-center pt-4">
    <div class="col-sm-6 col-sm-offset-3">
      <h1> Add a card to your collection or wishlist</h1>
      <%= form_with scope: :card, url: cards_path, local: true do |form| %>  
          <%= form.hidden_field :user, value: current_user.email %>
          <div class="row-fluid my-2">
            <%= form.label :set, "Set" %><br>
            <%= form.select(:set, [['Select A Set', nil],],  :class=>"js-searchable") %>
          </div>
         <div class="row-fluid my-2">
            <%= form.label :card_name, "Card Name" %><br>
            <%= form.select(:card_name, [['Select A Card', nil],],  :class=>"js-searchable") %>
          </div>

          <div class="row-fluid my-2">
          <%= form.check_box(:foil) %>
          <%= form.label(:foil, "Foil") %>
         </div>
          <div class="row-fluid my-2">
          <%= form.radio_button(:quality, "M") %>
          <%= form.label(:quality, "Mint") %>
          <%= form.radio_button(:quality, "NM") %>
          <%= form.label(:quality, "Near-Mint") %>
          <%= form.radio_button(:quality, "LP") %>
          <%= form.label(:quality, "Light-Play") %>
          <%= form.radio_button(:quality, "HP") %>
          <%= form.label(:quality, "Heavy-Play") %>
         </div>
          
          <div class="row-fluid my-2">
          <%= form.label :value %><br>
          <%= form.text_area :value %>
          </div>
          <div class="row-fluid my-2">
            <%= form.submit 'Add to Collection' %>
            <%= form.submit 'Add to Wishlist'%>
          </div>
        
        <% end %>

     
    </div>
  </div>
</div>



<script>
  var set = document.getElementById("card_set");
  var card_field = document.getElementById("card_card_name");

  //initialize the set
  var allSets = <%=@sets.to_json.html_safe %>

  //loop and add options to the set
  for(var i = 0; i < allSets.length; i++)
  {
    set.options[set.options.length] = new Option(allSets[i].code);
  }  

  //add change listener to the set
  set.addEventListener("change", function(){
        
        //grab selected set value
        var set_value = set.options[set.options.selectedIndex].value;
        var allCards = <%=@cards.to_json.html_safe %>

        //filter cards based on set
        var filteredCards = allCards.filter(function (el) {
          return el.set == set_value;
                
        });


        //clears any options in dropdown
          while (card_field.firstChild) card_field.removeChild(card_field.firstChild);

          //default value
          card_field.options[0] = new Option("Select A Card");

          //loop and add options to the card dropdown
          for(var i = 0; i < filteredCards.length; i++)
          {
            
            card_field.options[card_field.options.length] = new Option(filteredCards[i].name);
          }  
        
      });

  </script>      