<div class="container-fluid">
  <div class="row-fluid pt-2">

<script>
$(function () {
  $('[data-toggle="popover"]').popover()
})
</script>


<h3>Search Results</h3>  

  <p>
  <table class=" table table-striped" data-sort-name="name" data-sort-order="desc">
    <thead>
      <tr>
        <th data-field="user" data-sortable="true">User</th>
        <th data-field="name" data-sortable="true">Card Name</th>
        <th data-field="set" data-sortable="true">Set Name</th>
        <th data-field="value" data-sortable="true">Card Value</th>
      </tr>
    </thead>

    <tbody>
      <% @results.each do |card| %>
        <tr>
        <td>
            <%= link_to card.user.email, collection_path(card.user.id) %>
        </td>

          <td>
          <a href = "" data-toggle="popover" data-placement="right" data-html = "true" data-trigger = "hover" data-content = "<img src = <%= card.card.image_url %>>"><%= card.card.name %></a>
         
          </td>

          <td><%= card.card.card_set.name %></td>
          <td><%= card.value %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </p>

</div>
</div>

       