<p>Trade with user <%= @target_user.email %></p>


<script>
$(function () {
  $('[data-toggle="popover"]').popover()
})
</script>
<p>
<div class="container-fluid">
    <div class="row-fluid pt-2">

    
    <form id = "trade_form" action = <%= trades_path %> method = "post" >  
    <input type="hidden" id="reciever_id" name="reciever_id" value= <%= @target_user.id %>>
    <input type="hidden" id="sender_id" name="sender_id" value= <%= current_user.id %>>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <button form = "trade_form"  type="submit" class="btn btn-primary">Submit</button>

    <h3>Collection that I need</h3>
    <table class=" table table-striped" data-sort-name="name" data-sort-order="desc">
    <thead>
        <tr>
        <th data-field="name" data-sortable="true">Card Name</th>
        <th data-field="set" data-sortable="true">Set Name</th>
        <th data-field="value" data-sortable="true">Card Value</th>
        <th data-field="quality" data-sortable="true">Card Quality</th>
        <th data-field="foil" data-sortable="true">Foil</th>
        <th data-field="select">Select</th>
        </tr>
    </thead>

    <tbody>
        <% @collection_card_owned.each do |card| %>
        <tr>
            <td>
            <a href = "" data-toggle="popover" data-placement="right" data-html = "true" data-trigger = "hover" data-content = "<img src = <%= card.card.image_url %>>"><%= card.card.name %></a>
            </td>
            <td><%= card.card.card_set.name %></td>
            <td><%= card.value %></td>
            <td><%= card.quality %></td>
            <td><%= card.foil %></td>
            <td>  <input class="form-check-input" type="checkbox" value= <%= card.id %> name= <%= "card_owned_check#{card.id}" %>>
            </td>
        </tr>
        <% end %>
    </tbody>
    </table>
    </p>
    <p>
    <h3>Wishlist that I have</h3>
    <table class=" table table-striped" data-sort-name="name" data-sort-order="desc">
    <thead>
        <tr>
        <th data-field="name" data-sortable="true">Card Name</th>
        <th data-field="set" data-sortable="true">Set Name</th>
        <th data-field="value" data-sortable="true">Card Value</th>
        <th data-field="quality" data-sortable="true">Card Quality</th>
        <th data-field="foil" data-sortable="true">Foil</th>
        <th data-field="select">Select</th>
        </tr>
    </thead>

    <tbody>
        <% @collection_card_needed.each do |card| %>
        <tr>
            <td>
            <a href = "" data-toggle="popover" data-html = "true" data-trigger = "hover" data-content = "<img src = <%= card.card.image_url %>>"><%= card.card.name %></a>
            </td>
            <td><%= card.card.card_set.name %></td>
            <td><%= card.value %></td>
            <td><%= card.quality %></td>
            <td><%= card.foil %></td>
            <td>  <input class="form-check-input" type="checkbox" value= <%= card.id %> name= <%= "card_needed_check#{card.id}"%>>
            </td>
        </tr>
        <% end %>
    </tbody>
    </table>
    </p>
    

    </form>
    </div>
</div>

