


<script>
$(function () {
  $('[data-toggle="popover"]').popover()
})
</script>


<div class = "d-flex justify-content-center">
    <h1>Trading with <%= link_to @target_user.email, collection_path(@target_user.id) %></h1>
</div>
<div class="container-fluid">
    <div class="row-fluid pt-2">
    <form id = "trade_form" action = <%= trades_path %> method = "post" >  
    <input type="hidden" id="reciever_id" name="reciever_id" value= <%= @target_user.id %>>
    <input type="hidden" id="sender_id" name="sender_id" value= <%= current_user.id %>>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

    <h3>Cards <%= @target_user.email %> Has</h3>
    <table class=" table table-striped" data-sort-name="name" data-sort-order="desc">
    <thead>
        <tr>
        <th data-field="select">Select</th>
        <th data-field="name" data-sortable="true">Card Name</th>
        <th data-field="set" data-sortable="true">Set Name</th>
        <th data-field="value" data-sortable="true">Card Value</th>
        <th data-field="quality" data-sortable="true">Card Quality</th>
        <th data-field="foil" data-sortable="true">Foil</th>

        </tr>
    </thead>

    <tbody>
        <% @collection_card_owned.each do |card| %>
        <tr>
            <td class = "d-flex justify-content-center">
                <input class="form-check-input" type="checkbox" value= <%= card.id %> name= <%= "card_owned_check#{card.id}" %>>
            </td>
            <td>
                <a href = "" data-toggle="popover" data-placement="right" data-html = "true" data-trigger = "hover" data-content = "<img src = <%= card.card.image_url %>>"><%= card.card.name %></a>    
            </td>
            <td><%= card.card.card_set.name %></td>
            <td><%= card.value %></td>
            <td><%= card.quality %></td>
            <td>
                <% if card.foil == true %>
                    <%=fa_icon "check" %>
                <% else %>
                    <%=fa_icon "times" %>  
                <% end %> 
            </td>

        </tr>
        <% end %>
    </tbody>
    </table>
    </p>
    <p>
    <h3> Cards <%= @target_user.email %> Wants</h3>
    <table class=" table table-striped" data-sort-name="name" data-sort-order="desc">
    <thead>
        <tr>
        <th data-field="select">Select</th>
        <th data-field="name" data-sortable="true">Card Name</th>
        <th data-field="set" data-sortable="true">Set Name</th>
        <th data-field="value" data-sortable="true">Card Value</th>
        <th data-field="quality" data-sortable="true">Card Quality</th>
        <th data-field="foil" data-sortable="true">Foil</th>
        </tr>
    </thead>

    <tbody>
        <% @collection_card_needed.each do |card| %>
        <tr>
        
            <td class = "d-flex justify-content-center">  
                <input class="form-check-input" type="checkbox" value= <%= card.id %> name= <%= "card_needed_check#{card.id}"%>>
            </td>
            <td>
                <a href = "" data-toggle="popover" data-html = "true" data-trigger = "hover" data-content = "<img src = <%= card.card.image_url %>>"><%= card.card.name %></a>
            </td>
            <td><%= card.card.card_set.name %></td>
            <td><%= card.value %></td>
            <td><%= card.quality %></td>
            <td>
            <% if card.foil == true %>
                <%=fa_icon "check" %>
            <% else %>
                <%=fa_icon "times" %>  
            <% end %> 
            </td>
        </tr>
        <% end %>
    </tbody>
    </table>
    </p>
    
    <div class = "row" id = "trade_form_fields">
        
        <div class="form-group col">
            <label for="sender_value">Sender:</label>
            <input type="number" min ="0.00" step = "0.01" class="form-control" name = "sender_value" id="sender_value" aria-describedby="sender_helper" placeholder="Enter amount">
            <small id="sender_helper" class="form-text text-muted">Add Money you will send with your trade</small>
            <small id="sender_helper2" class="form-text text-muted">(Leave blank if you are not sending money)</small>
        </div>
        <div class="form-group col">
            <label for="reciever_value">Reciever:</label>
            <input type="number" min ="0.00"  step = "0.01" class="form-control" name = "reciever_value" id="reciever_value" aria-describedby="reciever_helper" placeholder="Enter amount">
            <small id="reciever_helper" class="form-text text-muted">Add amount of Money you want to recieve</small>
            <small id="reciever_helper2" class="form-text text-muted">(Leave blank if you are not recieving money)</small>
        </div>
        <div class = "col">
        <button form = "trade_form"  type="submit" class="btn btn-primary">Send Trade</button>
        </div>
    </div>
    </form>
    </div>
</div>

