<h1>LIST OF TRADES</h1>

<h1>SENT TRADES</h1>
<button type="button" class="btn btn-primary my-2"
data-toggle="collapse" data-target= "#pending_container" > <h4>Pending Trades</h4>
</button>

<div class = "collapse" id = "pending_container">
  <% @pending_sent_trades.each do |trade| %>
    <p>
    <button type="button" class="btn btn-primary my-2"
    data-toggle="collapse" data-target= <%="#trade#{trade.id}"%> > <%=fa_icon "chevron-down"%> Trade sent to <%= trade.reciever.email %>
    </button>
    
    <div class = "collapse" id = <%="trade#{trade.id}"%> >
    <div>Created on <%= trade.created_at %> </div>
        <h5> <%=fa_icon "clone"%> Cards You Offered</h5>
        <table class=" table table-striped" id="trade_sent"data-sort-name="name" data-sort-order="desc">
        <thead>
          <tr>
            <th data-field="name" data-sortable="true">Card Name</th>
            <th data-field="set" data-sortable="true">Set Name</th>
            <th data-field="value" data-sortable="true">Card Value</th>
            <th data-field="quality" data-sortable="true">Card Quality</th>
            <th data-field="foil" data-sortable="true">Foil</th>
          </tr>
        </thead>
        </table>
        <h5> <%=fa_icon "clone"%> Cards You Will Recieve</h5>
        <table class=" table table-striped" id="trade_recieve"data-sort-name="name" data-sort-order="desc">
        <thead>
          <tr>
            <th data-field="name" data-sortable="true">Card Name</th>
            <th data-field="set" data-sortable="true">Set Name</th>
            <th data-field="value" data-sortable="true">Card Value</th>
            <th data-field="quality" data-sortable="true">Card Quality</th>
            <th data-field="foil" data-sortable="true">Foil</th>
          </tr>
        </thead>
        </table>
    </div>
    </p>
  <% end %>
</div>
<h1>RECEIVED TRADES</h1>
