<script>
$(function () {
  $('[data-toggle="popover"]').popover()
})

</script>


<h1><%=fa_icon "users"%> My Trades  </h1>
<div class = "container-fluid" id = "my_trades">
  <div class = "row">
      <div class = "col" id = "pending_col">
        <button type="button" class="btn btn-primary my-2"
        data-toggle="collapse" data-target= "#pending_container" > <h4>Pending Trades</h4>
        </button>
        <div class = "collapse" id = "pending_container">

          <div class = "col" id = "pending_sent_trades">
              <% if @pending_sent_trades && @pending_sent_trades.ids != [] %>
                <button type="button" class="btn btn-primary my-2"
                data-toggle="collapse" data-target= "#pending_sent_container" > <h4>Sent Trades</h4></button>
                <div class = "collapse show" id = "pending_sent_container">
                <% @pending_sent_trades.each do |trade| %>
                  <p>
                  <button type="button" class="btn btn-primary my-2"
                  data-toggle="collapse" data-target= <%="#trade#{trade.id}"%> > <%=fa_icon "chevron-down"%> 
                  </button>
                  Waiting for <%= link_to trade.reciever.email, collection_path(trade.reciever.id) %> to accept
                  <div class = "collapse" id = <%="trade#{trade.id}"%> >
											<p>Created on <%= trade.created_at %> </p>
											<%= form_with id: "trade_form#{trade.id}",  method: "put", scope: trade, url: "#{trades_path}/#{trade.id}" %>                    
												<button form = <%="trade_form#{trade.id}"%>  name = "commit" value = "pending_declined" type ="submit" class="btn btn-danger my-2"> Cancel </button>
											</form>
                      <h5> <%=fa_icon "clone"%> Cards You Offered</h5>
                      <table class=" table table-striped" id= <%= "trade_sent#{trade.id}" %> data-sort-name="name" data-sort-order="desc">
                        <thead>
                          <tr>
                            <th data-field="name" data-sortable="true">Card Name</th>
                            <th data-field="set" data-sortable="true">Set Name</th>
                            <th data-field="value" data-sortable="true">Card Value</th>
                            <th data-field="quality" data-sortable="true">Card Quality</th>
                            <th data-field="foil" data-sortable="true">Foil</th>
                          </tr>
                        </thead>
                        <tbody>
                        <% trade.sender_cards.each do |card| %>
                          <tr>
                            <td>
                            <a href = "" data-toggle="popover" data-placement="right" data-html = "true" data-trigger = "hover" data-content = "<img src = <%= card.card.image_url %>>"><%= card.card.name %></a>
                            </td>
                  
                            <td><%= card.card.card_set.name %></td>
                            <td><%= card.value %></td>
                            <td><%= card.quality %></td>
														<td>
														test
                            <% if card.foil == true %>
                                <%=fa_icon "check" %>
                            <% else %>
                                <%=fa_icon "times" %>  
                            <% end %> 
                            </td>
                          </tr>
                        <% end %> 
                        <% if trade.sender_value and trade.sender_value != 0 %>
                          <p> You offered $<%= trade.sender_value %> with this trade </p>
                        <% end %>
                        </tbody>
                      </table>
                      <h5> <%=fa_icon "clone"%> Cards You Will Recieve</h5>
                      <table class=" table table-striped" id= <%= "trade_recieved#{trade.id}" %> data-sort-name="name" data-sort-order="desc">
                      <thead>
                        <tr>
                          <th data-field="name" data-sortable="true">Card Name</th>
                          <th data-field="set" data-sortable="true">Set Name</th>
                          <th data-field="value" data-sortable="true">Card Value</th>
                          <th data-field="quality" data-sortable="true">Card Quality</th>
                          <th data-field="foil" data-sortable="true">Foil</th>
                        </tr>
                        <tbody>
                        <% trade.reciever_cards.each do |card| %>
                          <tr>
                            <td>
                            <a href = "" data-toggle="popover" data-placement="right" data-html = "true" data-trigger = "hover" data-content = "<img src = <%= card.card.image_url %>>"><%= card.card.name %></a>
                            </td>
                  
                            <td><%= card.card.card_set.name %></td>
                            <td><%= card.value %></td>
                            <td><%= card.quality %></td>
                            <td>
                            <% if card.foil == true %>
                                <%=fa_icon "check" %>
                            <% else %>
                                <%=fa_icon "times" %>  
                            <% end %> 
                            </td>
                          </tr>
                        <% end %>
                        <% if trade.reciever_value and trade.reciever_value != 0 %>
                          <p> You will be sent $<%= trade.reciever_value %> </p>
                        <% end %>
                        </tbody>
                      </thead>
                      </table>
                  </div>
                  </p>
                <% end %>
                </div>

              <% else %>
                <p> You haven&#39;t sent any pending trades</p>
              <% end %>
          </div>


          <div class = "col" id = "pending_recieved_trades">
              <% if @pending_recieved_trades && @pending_recieved_trades.ids != [] %>
              <button type="button" class="btn btn-primary my-2" 
              data-toggle="collapse" data-target= "#pending_recieved_container" > <h4>Received Trades</h4></button>
              <div class = "collapse show" id = "pending_recieved_container">
                <% @pending_recieved_trades.each do |trade| %>
                  <p>
                  <button type="button" class="btn btn-primary my-2"
                  data-toggle="collapse" data-target= <%="#trade#{trade.id}"%> > <%=fa_icon "chevron-down"%> </button>
                  <%= link_to trade.sender.email, collection_path(trade.sender.id) %> is waiting for you to accept!
                  <div class = "collapse" id = <%="trade#{trade.id}"%> >

                    <%= form_with id: "trade_form#{trade.id}",  method: "put", scope: trade, url: "#{trades_path}/#{trade.id}" %>
                    
                    <button form = <%="trade_form#{trade.id}"%> name = "commit" value = "pending_accepted" type="submit"  class="btn btn-success my-2"> Accept </button>
                    <button form = <%="trade_form#{trade.id}"%>  name = "commit" value = "pending_declined" type ="submit" class="btn btn-danger my-2"> Decline </button>
                    </form>


                    <p> View <%= link_to trade.sender.email, collection_path(trade.sender.id) %></p>
                    <p>Created on <%= trade.created_at %> </p>
                    <h5> <%=fa_icon "clone"%> Cards Offered to You</h5>
                    <table class=" table table-striped" id= <%= "trade_sent#{trade.id}" %>  data-sort-name="name" data-sort-order="desc">
                    <thead>
                      <tr>
                        <th data-field="name" data-sortable="true">Card Name</th>
                        <th data-field="set" data-sortable="true">Set Name</th>
                        <th data-field="value" data-sortable="true">Card Value</th>
                        <th data-field="quality" data-sortable="true">Card Quality</th>
                        <th data-field="foil" data-sortable="true">Foil</th>
                      </tr>
                    </thead>
                    <tbody>
                    <% trade.sender_cards.each do |card| %>
                      <tr>
                        <td>
                        <a href = "" data-toggle="popover" data-placement="right" data-html = "true" data-trigger = "hover" data-content = "<img src = <%= card.card.image_url %>>"><%= card.card.name %></a>
                        </td>
              
                        <td><%= card.card.card_set.name %></td>
                        <td><%= card.value %></td>
                        <td><%= card.quality %></td>
												<td>
												<% if card.foil == true %>
														<%=fa_icon "check" %>
												<% else %>
														<%=fa_icon "times" %>  
												<% end %> 
												</td>
                      </tr>
                    <% end %>
                    <% if trade.sender_value and trade.sender_value != 0 %>
                        <p> You were offered $<%= trade.sender_value %> with this trade </p>
                    <% end %>
                    </tbody>
                    </table>
                    <h5> <%=fa_icon "clone"%> Cards You Will Trade</h5>
                    <table class=" table table-striped" id= <%= "trade_recieved#{trade.id}" %> data-sort-name="name" data-sort-order="desc">
                    <thead>
                      <tr>
                        <th data-field="name" data-sortable="true">Card Name</th>
                        <th data-field="set" data-sortable="true">Set Name</th>
                        <th data-field="value" data-sortable="true">Card Value</th>
                        <th data-field="quality" data-sortable="true">Card Quality</th>
                        <th data-field="foil" data-sortable="true">Foil</th>
                      </tr>
                      <tbody>
                      <% trade.reciever_cards.each do |card| %>
                        <tr>
                          <td>
                          <a href = "" data-toggle="popover" data-placement="right" data-html = "true" data-trigger = "hover" data-content = "<img src = <%= card.card.image_url %>>"><%= card.card.name %></a>
                          </td>
                
                          <td><%= card.card.card_set.name %></td>
                          <td><%= card.value %></td>
                          <td><%= card.quality %></td>
                          <td>
                          <% if card.foil == true %>
                              <%=fa_icon "check" %>
                          <% else %>
                              <%=fa_icon "times" %>  
                          <% end %> 
                          </td>
                        </tr>
                      <% end %>
                      <% if trade.reciever_value and trade.reciever_value != 0 %>
                        <p> You were asked for $<%= trade.reciever_value %> with this trade </p>
                      <% end %>
                      </tbody>
                    </thead>
                    </table>  
                  </div>
                  </p>
                <% end %>
              </div>
              <% else %>
                <p> You haven&#39;t received any pending trades</p>
              <% end %>
          </div>

        </div>
      </div>


      <!-- ACCEPTED CONTAINER #########################################################################      -->

      <div class = "col" id = "accepted_col">
        <button type="button" class="btn btn-primary my-2"
        data-toggle="collapse" data-target= "#accepted_container"  > <h4>Accepted Trades</h4>
        </button>

        <div class = "collapse" id = "accepted_container">
          <div class = "col" id = "accepted_trades">
            <% if @accepted_trades && @accepted_trades.ids != [] %>
							<% @accepted_trades.each do |trade| %>
								<p>
									<!-- this block looks dumb but saves repititions of 100+ lines of code down the line -->
									<% if trade.sender_id == current_user.id
												my_type = "s" 
												my_user = trade.sender
												other_user = trade.reciever
												my_cards = trade.sender_cards
												other_cards = trade.reciever_cards
												my_value = trade.sender_value
												other_value = trade.reciever_value
												my_status = trade.sender_status
												other_status = trade.reciever_status
											else
												my_type = "r"
												my_user = trade.reciever
												other_user = trade.sender
												my_cards = trade.reciever_cards
												other_cards = trade.sender_cards
												my_value = trade.reciever_value
												other_value = trade.sender_value
												my_status = trade.reciever_status
												other_status = trade.sender_status
											end
									%>

								<button type="button" class="btn btn-primary my-2"
								data-toggle="collapse" data-target= <%="#trade#{trade.id}"%> > <%=fa_icon "chevron-down"%> 
								</button>
								Trade with <%= link_to other_user.email, collection_path(other_user.id) %> 
								<div class = "collapse" id = <%="trade#{trade.id}"%> >
									<p>Created on <%= trade.created_at %> </p>
									<%= form_with id: "trade_form#{trade.id}",  method: "put", scope: trade, url: "#{trades_path}/#{trade.id}" %>   
									<div class = "row" id = "statuses">
											<div class = "col" id = "my_status">
												<p> Your Status </p>
												<% if my_status == "Accepted" %>
													<button form = <%="trade_form#{trade.id}"%>  name = "commit" value = "accepted_completed" type ="submit" class="btn btn-danger my-2" title = "Confirm that received your cards and/or money"> <%=fa_icon "times" %>Unconfirmed</button>

												<% elsif my_status == "Completed" %>
													<button disabled class="btn btn-success my-2" title = "You have received cards and/or money"> <%=fa_icon "check" %>Confirmed</button>

												<% end %>
											</div>
											<div class = "col" id = "other_status">
												<p>Their Status </p>
												<% if other_status == "Accepted" %>
													<button disabled  class="btn-static btn-danger my-2" title = "Waiting for <%=  other_user.email  %> to confirm they received cards and/or money" > <%=fa_icon "times" %>Unconfirmed </button>
												<% elsif my_status == "Completed" %>
													<button disabled class="btn-static btn-success my-2" title = "<%= other_user.email %> has received cards and/or money"> <%=fa_icon "check" %>Confirmed </button>
												<% end %>
											</div>
									</div>         
									</form>


									<% if my_value != 0 and my_value != nil %>
										<%= "You will send $#{my_value}" %>
									<% elsif other_value !=0 and other_value != nil %>
										<%= "You will receive $#{other_value}" %>
									<% end %>

									<% if my_type == "s" %>
										<h5> <%=fa_icon "clone"%> Cards You Will Receive</h5>
									<% else %>
										<h5><%=fa_icon "clone"%> Cards You Offered</h5>	
									<% end %>
									<table class=" table table-striped" id= <%= "trade_sent#{trade.id}" %>  data-sort-name="name" data-sort-order="desc">
										<thead>
											<tr>
												<th data-field="name" data-sortable="true">Card Name</th>
												<th data-field="set" data-sortable="true">Set Name</th>
												<th data-field="value" data-sortable="true">Card Value</th>
												<th data-field="quality" data-sortable="true">Card Quality</th>
												<th data-field="foil" data-sortable="true">Foil</th>
											</tr>
										</thead>
										<tbody>
										<% my_cards.each do |card| %>
											<tr>
												<td>
												<a href = "" data-toggle="popover" data-placement="right" data-html = "true" data-trigger = "hover" data-content = "<img src = <%= card.card.image_url %>>"><%= card.card.name %></a>
												</td>
							
												<td><%= card.card.card_set.name %></td>
												<td><%= card.value %></td>
												<td><%= card.quality %></td>
												<td>
												<% if card.foil == true %>
														<%=fa_icon "check" %>
												<% else %>
														<%=fa_icon "times" %>  
												<% end %> 
												</td>
											</tr>
										<% end %> 
										</tbody>
									</table>

									<% if my_type == "s" %>
										<h5><%=fa_icon "clone"%> Cards You Offered</h5>
									<% else %>
										<h5> <%=fa_icon "clone"%> Cards You Will Receive</h5>
									<% end %>
									<table class=" table table-striped" id= <%= "trade_recieved#{trade.id}" %> data-sort-name="name" data-sort-order="desc">
									<thead>
										<tr>
											<th data-field="name" data-sortable="true">Card Name</th>
											<th data-field="set" data-sortable="true">Set Name</th>
											<th data-field="value" data-sortable="true">Card Value</th>
											<th data-field="quality" data-sortable="true">Card Quality</th>
											<th data-field="foil" data-sortable="true">Foil</th>
										</tr>
										<tbody>
										<% other_cards.each do |card| %>
											<tr>
												<td>
												<a href = "" data-toggle="popover" data-placement="right" data-html = "true" data-trigger = "hover" data-content = "<img src = <%= card.card.image_url %>>"><%= card.card.name %></a>
												</td>
												<td><%= card.card.card_set.name %></td>
												<td><%= card.value %></td>
												<td><%= card.quality %></td>
												<td>
												<% if card.foil == true %>
														<%=fa_icon "check" %>
												<% else %>
														<%=fa_icon "times" %>  
												<% end %> 
												</td>
											</tr>
										<% end %>
										</tbody>
									</thead>
									</table>
								</div>
								</p>
							<% end %>
						<% else %>
								<p> You haven't agreed upon any trades </p>
						<% end %>		
            
          </div>
        </div>
        
      </div>


      <!-- COMPLETED CONTAINER 
      #
      #
      #
      #
      -->


      <div class = "col" id = "completed_col">
        <button type="button" class="btn btn-primary my-2"
        data-toggle="collapse" data-target= "#completed_container" > <h4>Completed Trades</h4>
        </button>
        <div class = "collapse" id = "completed_container">
				<div class = "col" id = "completed_trades">
				<% if @completed_trades && @completed_trades.ids != [] %>
					<% @completed_trades.each do |trade| %>
						<p>
							<!-- this block looks dumb but saves repititions of 100+ lines of code down the line -->
							<% if trade.sender_id == current_user.id
										my_type = "s" 
										my_user = trade.sender
										other_user = trade.reciever
										my_cards = trade.sender_cards
										other_cards = trade.reciever_cards
										my_value = trade.sender_value
										other_value = trade.reciever_value
										my_status = trade.sender_status
										other_status = trade.reciever_status
									else
										my_type = "r"
										my_user = trade.reciever
										other_user = trade.sender
										my_cards = trade.reciever_cards
										other_cards = trade.sender_cards
										my_value = trade.reciever_value
										other_value = trade.sender_value
										my_status = trade.reciever_status
										other_status = trade.sender_status
									end
							%>

						<button type="button" class="btn btn-primary my-2"
						data-toggle="collapse" data-target= <%="#trade#{trade.id}"%> > <%=fa_icon "chevron-down"%> 
						</button>
						Trade with <%= link_to other_user.email, collection_path(other_user.id) %> 
						<div class = "collapse" id = <%="trade#{trade.id}"%> >
							<p>Created on <%= trade.created_at %> </p>

							<% if my_value != 0 and my_value != nil %>
								<%= "You sent $#{my_value}" %>
							<% elsif other_value !=0 and other_value != nil %>
								<%= "You recieved $#{other_value}" %>
							<% end %>

							<% if my_type == "s" %>
								<h5> <%=fa_icon "clone"%> Cards You Received</h5>
							<% else %>
								<h5><%=fa_icon "clone"%> Cards You Offered</h5>	
							<% end %>
							<table class=" table table-striped" id= <%= "trade_sent#{trade.id}" %>  data-sort-name="name" data-sort-order="desc">
								<thead>
									<tr>
										<th data-field="name" data-sortable="true">Card Name</th>
										<th data-field="set" data-sortable="true">Set Name</th>
										<th data-field="value" data-sortable="true">Card Value</th>
										<th data-field="quality" data-sortable="true">Card Quality</th>
										<th data-field="foil" data-sortable="true">Foil</th>
									</tr>
								</thead>
								<tbody>
								<% my_cards.each do |card| %>
									<tr>
										<td>
										<a href = "" data-toggle="popover" data-placement="right" data-html = "true" data-trigger = "hover" data-content = "<img src = <%= card.card.image_url %>>"><%= card.card.name %></a>
										</td>
					
										<td><%= card.card.card_set.name %></td>
										<td><%= card.value %></td>
										<td><%= card.quality %></td>
										<td>
										<% if card.foil == true %>
												<%=fa_icon "check" %>
										<% else %>
												<%=fa_icon "times" %>  
										<% end %> 
										</td>
									</tr>
								<% end %> 
								</tbody>
							</table>

							<% if my_type == "s" %>
								<h5><%=fa_icon "clone"%> Cards You Offered</h5>
							<% else %>
								<h5> <%=fa_icon "clone"%> Cards You Received</h5>
							<% end %>
							<table class=" table table-striped" id= <%= "trade_recieved#{trade.id}" %> data-sort-name="name" data-sort-order="desc">
							<thead>
								<tr>
									<th data-field="name" data-sortable="true">Card Name</th>
									<th data-field="set" data-sortable="true">Set Name</th>
									<th data-field="value" data-sortable="true">Card Value</th>
									<th data-field="quality" data-sortable="true">Card Quality</th>
									<th data-field="foil" data-sortable="true">Foil</th>
								</tr>
								<tbody>
								<% other_cards.each do |card| %>
									<tr>
										<td>
										<a href = "" data-toggle="popover" data-placement="right" data-html = "true" data-trigger = "hover" data-content = "<img src = <%= card.card.image_url %>>"><%= card.card.name %></a>
										</td>
										<td><%= card.card.card_set.name %></td>
										<td><%= card.value %></td>
										<td><%= card.quality %></td>
										<td>
										<% if card.foil == true %>
												<%=fa_icon "check" %>
										<% else %>
												<%=fa_icon "times" %>  
										<% end %> 
										</td>
									</tr>
								<% end %>
								</tbody>
							</thead>
							</table>
						</div>
						</p>
					<% end %>
				<% else %>
						<p> You haven't completed any trades </p>
				<% end %>		
        </div>
      </div>  
  </div>
  
</div>
